<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="goBack()" aria-label="Atrás">
      <md-icon>arrow_back</md-icon>
    </md-button>

    <h2 md-truncate flex>Areas</h2>

    <md-button ng-click="openCreate()">
      Nueva área
    </md-button>
  </div>
</md-toolbar>

<md-content layout-padding flex>
  <md-list>
    <md-list-item ng-repeat="area in areas" ng-click="viewItems(area, $event)">
      <md-icon>folder</md-icon>
      <p>{{area.name}}</p>
      <md-button class="md-icon-button" ng-click="openUpdate($index, $event)">
        <md-icon aria-label="Editar área">edit</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="delete($index, $event)">
        <md-icon aria-label="Eliminar área">delete</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
</md-content>